h1{
color: red;

}
.all{
    display: flex;
    flex-direction: row;
    padding:6px ;
    margin-bottom: 6px;
}
div{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color:bisque;
}
.nr{
    display: flex;
padding: 6px;
}
.all2{
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 40%;
}
.przedmiot{
    display: flex;
padding: 6px;
font-weight: bold;
}
.all3{
    display: flex;
    flex-direction: row;
    padding: 6px;
}
.nauczyciel{
display: flex;
padding: 6px;
color:grey;
}
.sala{
   padding: 6px;
color:grey;
}